$primary: rgb(73, 162, 248);
$light-blue: rgb(113, 191, 243);
$dark-blue: rgb(11, 36, 56);
$bold-blue: rgb(17, 48, 74);
$dark: #303840;
$white: #fff;

$container-padding-x-xl: 14rem;
$container-padding-x-lg: 3rem;
$container-padding-x-md: 1.5rem;